//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Media       1
#define Nav         2
#define Mouse       3
#define Sym         4
#define Num         5
#define Fun         6
#define Button      7
#define Game        8
#define Gameplus    9

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            label = "Base";
            bindings = <
              &kp Q  &kp W       &kp F         &kp P         &kp B        &kp J    &kp L          &kp U         &kp Y       &kp SEMI
              &kp A  &hm LALT R  &hm LCTRL S   &hm LSHIFT T  &kp G        &kp M    &hm RSHFT N    &hm RCTRL E   &hm RALT I  &kp O
&kp LEFT_GUI  &kp Z  &kp X       &kp C         &kp D         &kp V        &kp K    &kp H          &kp COMMA     &kp DOT     &kp SLASH  &hm RGUI APOSTROPHE
                                 &lt 3 ESCAPE  &lt 1 TAB     &kp SPACE    &kp RET  &kp BACKSPACE  &lt 2 DELETE
            >;
        };

        Nav {
            label = "Nav";
            bindings = <
        &kp TILDE       &kp PG_DN     &kp UP_ARROW  &kp PG_UP    &kp LBRC    &kp RBRC  &kp KP_N7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_MULTIPLY
        &kp LEFT_SHIFT  &kp LEFT      &kp DOWN      &kp RIGHT    &kp LBKT    &kp RBKT  &kp KP_N4  &kp KP_N5        &kp KP_N6        &kp KP_N0
&trans  &kp CAPSLOCK    &kp KP_EQUAL  &kp KP_MINUS  &kp KP_PLUS  &kp LPAR    &kp RPAR  &kp KP_N1  &kp KP_N2        &kp KP_N3        &trans           &trans
                                      &trans        &trans       &trans      &trans    &trans     &trans
            >;
        };

        Sym {
            label = "Sym";
            bindings = <
        &kp EXCL  &kp AT  &kp HASH  &kp DOLLAR  &kp PERCENT    &kp CARET  &kp AMPERSAND  &kp HASH  &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES
        &trans    &trans  &trans    &trans      &trans         &trans     &trans         &trans    &trans            &trans
&trans  &trans    &trans  &trans    &trans      &trans         &kp UNDER  &kp EQUAL      &trans    &trans            &kp NON_US_BACKSLASH  &kp DOUBLE_QUOTES
                          &trans    &trans      &trans         &trans     &trans         &trans
            >;
        };

        Fun {
            label = "Fun";
            bindings = <
        &bootloader  &kp F1  &kp F2  &kp F3  &trans    &kp C_AC_INSERT  &kp C_AC_HOME  &kp PAGE_UP    &kp PRINTSCREEN    &trans
        &trans       &kp F4  &kp F5  &kp F6  &trans    &kp DEL          &kp END        &kp PAGE_DOWN  &kp C_PAUSE        &trans
&trans  &trans       &kp F7  &kp F8  &kp F9  &trans    &trans           &trans         &trans         &kp K_SCREENSAVER  &trans  &trans
                             &trans  &trans  &trans    &trans           &trans         &trans
            >;
        };
    };
};
